.gamma-message > p {
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  padding: 0.5em;
}
.gamma-info {
  color: #00529B;
  border-color: #00529B;
  background-color: #BDE5E8;
}
.gamma-success {
  color: #4F8A10;
  border-color: #4F8A10;
  background-color: #DFF2BF;
}
.gamma-warning {
  color: #9F6000;
  border-color: #9F6000;
  background-color: #FEEFB3;
}
.gamma-error {
  color: #D8000C;
  border-color: #D8000C;
  background-color: #FFBABA;
}
